faiss-cpu
google
itemadapter
langchain
langchain_huggingface
numpy==1.26.4
scrapy
fastapi
pydantic
uvicorn
langchain-community
huggingface_hub
python-dotenv
aiohttp
certifi
supabase
httpx
transformers
torch
together
Bio
langchain_elasticsearch
elasticsearch
